<style type="text/css">
	body{
    background-image: url('/assets/R2.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
</style>
<div class="margintop50">
	<div class="row">
		<div class="span2"></div>
		<div class="container span6">
			<h2 class="white-text">Sign up</h2>
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				<div class="font-gender" style="color:maroon;">
					<%#= devise_error_messages! %>
				</div>
					
				<div class="row">
					<div class="span3">
						<%= f.text_field :first_name,:placeholder => "First Name", autofocus: true ,:style=>"background: #dddddd;font-size:18px;border: 2px solid #a1a1a1; border-radius: 25px;"%>
					</div>
					<div class="span3" style="margin-left:-40px;">
						<%= f.text_field :last_name,:placeholder => "Last Name", autofocus: "off",:style=>"background: #dddddd;font-size:18px;border: 2px solid #a1a1a1; border-radius: 25px;" %>
					</div>
				</div>
				<div class="row">
					<div class="span4">
						<%= f.email_field :email,:placeholder => "*Email", autofocus: "off" ,:class=>"width436",:style=>"background: #dddddd;font-size:18px;border: 2px solid #a1a1a1; border-radius: 25px;"%>
					</div>
				</div>
				<div class="row"> 
					<div class="span4">
						
						<%= f.password_field :password, 'data-toggle'=>"tooltip",autocomplete: "off" ,:placeholder => "*New Password",:class=>"width436",:style=>"background: #dddddd;font-size:18px;border: 2px solid #a1a1a1; border-radius: 25px;"%>
					</div>
				</div>

				<div class="row"> 
					<div class="span4">			
					<%= f.password_field :password_confirmation, autocomplete: "off",:placeholder => "*Confirm Password",:class=>"width436",:style=>"background: #dddddd;font-size:18px;border: 2px solid #a1a1a1; border-radius: 25px;" %>
					</div>
				</div>
				<!-- <div class="row"> 
					<div class="span4">			
					<%#= f.text_field :Mobile, autocomplete: "off",:placeholder => "Mobile",:maxlength => 10,:class=>"width436",:style=>"background: #dddddd;font-size:18px;border: 2px solid #a1a1a1; border-radius: 25px;" %>
					</div>
				</div> -->
				<div class="row"> 
					<div class="span4">
						<p class="font-gender">Birthday</p>

						<%= f.date_select :Birthday,:class => "date-select",:order => [:day, :month, :year],prompt: { day: 'Day', month: 'Month', year: "Year" } , :start_year => 100.years.ago.year, :end_year=> Date.today.year%>
					</div>
				</div>
				<div class="row"> 
					<div class="span1">
					    <%= f.radio_button :gender, true , :checked => true%>
					</div>
					<div class="span1" style="margin-left: -50px;">
						<%= f.label :gender, "Male", :value => "true" ,:class=>"font-gender" %>
					  
					</div>
					<div class="span1">
						<%= f.radio_button :gender, false %>
					</div>
					<div class="span2" style="margin-left: -50px;">
						<%= f.label :gender, "Female", :value => "false" ,:class=>"font-gender"%>
					</div>  
				</div>
				<p class="terms-text">
					By clicking Sign Up, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.
				</p>
				<div class="row"> 
					<div class="span4">
						<%= f.submit "Sign up" ,:class => "btn btn-outline-inverse btn-success btn-large"%>
					</div>
				</div>
				
			<% end %>
		</div>
		<div class="span4">
			<% if @validatable %>
				<div class="margintop50" style="color: ghostwhite">
					<%= devise_error_messages! %>
					
				</div>
			<% end %>
		</div>
	</div>
</div>
<%#= render "devise/shared/links" %>
