<div class="container">
  	<div class="row">
  	<div class="span4"></div>
  		<div class="span6">
        	<div class="page-center white-text">
		  		<h2>Log in</h2>
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div>
						<%#= f.label :email ,:style=>"color: black;"%><br />
						<%= f.email_field :email,:placeholder => "Email", autofocus: true ,:style=>"background: white;font-size:15px;border: 1px solid #a1a1a1; border-radius: 15px;" %></div>

						<div>
							<%#= f.label :password,:style=>"color: black;" %><br />
							<%= f.password_field :password, autocomplete: "off", :placeholder => "password",:style=>"background: white;font-size:15px;border: 1px solid #a1a1a1; border-radius: 15px;"%>
						</div>

						<% if devise_mapping.rememberable? -%>
							<div class="checkbox">
								<label class="font-gender"><%= f.check_box :remember_me,:class => "checkbox",:style=>"margin-top:-1px;" %>&nbsp;Remember me</label>
							</div>
						<% end -%>

					<div>
						<%= f.submit "Log in",:class => "btn btn-outline-inverse btn-info btn-lg btn-large" %>
					</div>
				<% end %>
			</div>
		</div>
  	</div>
</div>
<%#= render "devise/shared/links" %>
<!-- <div class="container">
  	<div class="row">
  		<div class="" style="margin-top: 50px;">
  			<a href="/users/password/new" class="btn btn-primary btn-outline-inverse btn-lg">Forgot your password?</a>
  		</div>
	</div>
</div>
 -->